*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.contaiter{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.sml-btn{
    display: inline-block;
    text-transform: uppercase;
    padding: 0.3em 0.8em;
    color: white;
    background: rgb(18, 167, 104);
    font-size: 1.6rem;
    border-radius: 50px;
    margin-top:10px;
    transition: all 0.2s ease-in-out;
}
.sml-btn:hover{
    background: rgb(14, 138, 86);
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    position:fixed;
    height: 60PX;
    align-items: center;
    display: flex;
    box-shadow: 0px 1px 10px #999;
    z-index: 99;
    opacity: .70;
    background: white;
}

header .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .nav-container .nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .nav-container .nav-items .nav-btn{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 20px;
    align-items: center;
    font-weight: 600;
    color: rgb(104, 104, 104);
    transition: all 0.5s ease-in-out;
}

header .nav-container .nav-items .nav-btn:hover{
    color: rgb(17, 156, 98);

}

header .nav-container .logo{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 600;
}

header .nav-container .nav-items #mov-list{
    display: inline-block;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    height: 30px;
    font-weight: 600;
    color: white;
    background: rgb(18, 167, 104);
    padding: 2px;
    display: none;
}


/* ////////////////// showcase ////////////////// */


.showcase{
    height: 60vh;
    border-bottom: 2px solid gray;
    background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)),url('../img-file/2.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    animation: bg-change 30s ease-in-out infinite;
    margin-bottom: 50px;
}

@keyframes bg-change{
    20%{
        background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)),url('../img-file/3.jpg');
        background-position: top;
    }
    40%{
        background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)),url('../img-file/5.jpg');
        background-position: center;
    }
    60%{
        background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)),url('../img-file/4.jpg');
        background-position: top;
    }
    80%{
        background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)),url('../img-file/6.jpg');
        background-position: left;
    }
    100%{
        background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.5)),url('../img-file/7.jpg');
        background-position: center;
    }
}

.showcase .shw-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    transform: translateY(-20px);
    animation: jump 1s ease-in forwards;
}

@keyframes jump{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.showcase .shw-container h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 5px;
    font-weight: 700;
    color: white;
}

.showcase .shw-container .search-box{
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 35%;
    height: 12%;
    background: white;
    opacity: 0.65;
    border-radius: 50px;
    padding-right: 10px;
}

.showcase .shw-container .search-box #search{
    display: inline-block;
    z-index: 10000;
    width: 90%;
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 2rem;
}
i{
    font-size: 2rem;
}

.btn{
    display: inline-block;
    font-size: 1.5rem;
    padding: .5em 1em;
    background: rgb(18, 167, 104);
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.btn:hover{
    background: rgb(14, 131, 82);
}

/* //////////// movie /////////// */

.movies{
    /* padding-bottom: 50px; */
    min-height: 50vh;
}

.movies #menu{
    display: flex;
    flex-wrap: wrap;
}

.movies #menu .movie-box{
    position: relative;
    width: 150px;
    height: 200px;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: all 0.3s ease-in-out;
    animation: scale 2s ease-in forwards;
    opacity: 0;
}

@keyframes scale{
    100%{
        opacity: 1;
    }
}

.movies #menu .movie-box:hover{
    transform: scale(1.2,1.2);
}

.movies #menu .movie-box img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.movies #menu .movie-box .movie-containet{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.movies #menu .movie-box:hover .movie-containet{
    opacity: 1;
}


.movies #menu .movie-box::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.568);
    z-index: 99;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.3s ease-in-out;
}

.movies #menu .movie-box:hover::after{
    opacity: 1;
    transform: scaleY(1);
}

.movies #menu .movie-box .movie-containet h3{
    color: white;
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
h4{
    color: white;
    text-transform: uppercase;
}

/* //////////////// next ///////////// */

.next-button{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}


.next-button .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    height: 30px;
    width: 30px;
    background: rgb(15, 151, 95);
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
}

.next-button .box:hover{
    background: rgb(13, 128, 80);
}

#next-btn{
    display: inline-block;
    color: white;
    font-size: 2rem;
    font-weight: 800;

}


/* //////////////// footer ///////////// */


footer{
    width: 100%;
    height: 70px;
    background: rgb(97, 97, 97);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo i{
    color: white;
    font-size: 3rem;
    margin-right: 10px;
    margin-left:10px ;
    transition: all 0.2s ease-in-out;
}

.logo i:nth-child(2):hover{
    color: red;
}
.logo i:nth-child(1):hover{
    color:blue;
}
.logo i:nth-child(3):hover{
    color: rgb(16, 72, 194);
}