@media (max-width:600px){
    html{
        font-size: 50%;
    }
    header .nav-container .nav-items .nav-btn{
        display: none;
    }
    header .nav-container .nav-items #mov-list{
        display: inline;
        margin-right: 10px;
    }
    header .nav-container .logo{
        font-size: 3rem;
    }
    .showcase .shw-container .search-box{
        width: 50%;
        height: 10%;
    }
}

@media (max-width:400px){
    .movies #menu{
        justify-content: center;
    }
    .movies #menu .movie-box{
        height: 300px;
        width: 200px;
    }
    .showcase{
        height: 40vh;
    }
    .movies #menu .movie-box .movie-containet h3{
        font-size: 2.5rem;
    }
    h4{
        font-size: 1.5rem;
    }
    .sml-btn{
        font-size: 2.2rem;
    }
}